.navigation-wrapper{
  width: 100%;
  height: 40px;
  background-color: #66BFBF;
  position: sticky;
}

.navigation-bar{
  width: 100%;
  height: 40px;
  position: relative;
  top: 5px;
}

.home-link-tag{
  color: #FF0063;
  position: relative;
  top: 5px;
  left: 30px;
  text-decoration: none;
}

.login-link-tag{
  color: #FF0063;
  position: relative;
  top: 5px;
  left: 1250px;
  text-decoration: none;
}

.register-link-tag{
  color: #FF0063;
  position: relative;
  top: 5px;
  left: 50px;
  text-decoration: none;
}